@import "tailwindcss";
*{
    cursor: cell;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: scroll;
}

section {
  height: 100vh; /* har section full screen */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body {
  scroll-snap-type: y mandatory;
}
